oss-obj-cre-img-blur-py/sample-images-blurred
oss-obj-cre-img-blur-py/sample-images/us.jpeg
oss-obj-cre-doc-job-py/analyze-document/online/Ammendment2-Signed.pdf
oss-obj-cre-doc-job-py/analyze-document/bulk/Ammendment2-Signed.pdf
oss-obj-cre-doc-job-py/analyze-document/bulk/Binder1.pdf
oss-obj-cre-doc-job-py/analyze-document/bulk/Binder8.pdf